<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <!-- loggers -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="BotConsoleAppender"/>
      <appender-ref ref="BotRollingFileAppender"/>
    </root>
    <logger name="BotRollingFileLoggerNone" additivity="False">
      <level value="ALL"/>
      <appender-ref ref="BotRollingFileAppenderNone"/>
    </logger>
    <!-- appenders-->
    <appender name="BotConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="BotRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="bot_all.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="BotRollingFileAppenderNone" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="bot_none.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" proxyaddress="http://172.16.230.100:3128" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <!--PORTO-->
    <!--<add key="BotId" value="portoseguropocbot" />
    <add key="MicrosoftAppId" value="54173baa-c5a8-4d2a-b20a-af4aafc33003" />
    <add key="MicrosoftAppPassword" value="fv5XCfxyLZX6au0nobZgk0M" />-->
    <!--PORTO BOT 2-->
    <!--<add key="BotId" value="portosegurobot" />
    <add key="MicrosoftAppId" value="20a200bd-1702-4f82-b524-6d073e6d9fe3" />
    <add key="MicrosoftAppPassword" value="gOe5xnxMtZMzu6CHiaghyUc" />-->
    <add key="BotId" value=""/>
    <add key="MicrosoftAppId" value=""/>
    <add key="MicrosoftAppPassword" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <!--<httpHandlers>
      <add verb="*" path="viewlog.abc" type="PortoSeguroBOT.LogHttpHandler"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.htm"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      
      <add name="RESTHandler" path="rest" verb="*" type="PortoSeguroBOT.Handler.RESTHandler" />
      
      <add name="LogHttpHandler" path="conversations.log" verb="*" type="PortoSeguroBOT.Handler.LogHttpHandler" />
      <add name="LogNoneHttpHandler" path="conversations_none.log" verb="*" type="PortoSeguroBOT.Handler.LogNoneHttpHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>